<h1>All Bulk Discounts:</h1>
<ul>
  <% @bulk_discounts.each do |bulk_discount| %>
    <div id="bulk-discount-<%= bulk_discount.id %>">
      <li><%= number_to_percentage(bulk_discount.pc_off, precision: 2) %> off when a user purchases at least <%= bulk_discount.bulk_quantity %> of an item
      <%= link_to "Edit Discount", edit_merchant_bulk_discount_path(bulk_discount), class: "btn btn-primary" %>
      </li>
      <br>
    </div>
  <% end %>
</ul>
<%= link_to "Add a New Bulk Discount", new_merchant_bulk_discount_path %>
