<div id="profile-edit-form">
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, required: true %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, value: "" %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, value: "" %>
    <br><br>
    <%= f.submit "Submit Changes" %>
  <% end %>
</div>
