<h1><%= current_user.name %></h1>
<p><%= current_user.email %></p>
<% @addresses.each do |address| %>
  <div id="address-<%= address.id %>" class="card mb-3">
    <div class="row no-gutters col-md-9 card-body">
      <h5 class="card-title"><%= address.nickname %><%= " (primary address)" if address.id == current_user.primary_address_id %></h5>
      <ul>
        <li><%= address.street %></li>
        <li><%= address.city %>, <%= address.state %></li>
        <li><%= address.zip %></li>
      </ul>
      <br>
      <%= button_to "Delete Address", delete_address_path(address), method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
    </div>
  </div>
<% end %>
<br>
<%= link_to "Add a New Address", new_user_address_path, class: "btn btn-primary" %>
<br>
<%= link_to "Edit My Profile or Password", profile_edit_path, class: "btn btn-primary" %>

<% if @user_orders.any? %>
  <p><%= link_to "My Orders", user_orders_path %></p>
<% end %>
