<h1><%= current_user.name %></h1>
<p><%= current_user.email %></p>
<% @addresses.each do |address| %>
  <div id="address-<%= address.id %>">
    <h5><%= address.nickname %><%= " (primary address)" if address.id == current_user.primary_address_id %></h5>
    <p><%= address.street %></p>
    <p><%= address.city %>, <%= address.state %></p>
    <p><%= address.zip %></p>
    <br>
    <%= button_to "Delete Address", delete_address_path(address), method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
  </div>
<% end %>

<%= link_to "Edit My Profile or Password", profile_edit_path %>

<% if @user_orders.any? %>
  <p><%= link_to "My Orders", user_orders_path %></p>
<% end %>
