<div id="dashboard-show">
  <h1><%= @merchant.name %></h1>
  <%= link_to 'View all items for sale', merchant_items_path %>
  <p>Email: <%= @merchant.email %></p>
  <% if @address %>
    <p>Address: <%= @address.street %></p>
    <p><%= @address.city %>, <%= @address.state %></p>
    <p>Zip: <%= @address.zip %></p>
  <% end %>
</div>

<div id="statistics">
  <h4>Statistics</h4>
  <div id="stats-top-five">
    <h5>Top Selling Items</h5>
    <ol>
      <% @merchant.top_five_items.each do |item|  %>
        <li><%= item.name %>, Quantity: <%= item.total_sold %></li>
      <% end %>
    </ol>
  </div>

  <% if @merchant.total_inventory > 0 %>
    <p>Sold <%= @merchant.total_sold %> item(s), which is <%= number_to_percentage(@merchant.inventory_ratio, precision: 0) %> of your total inventory.</p>
  <% end %>


  <% if @merchant.top_user_items %>
  <div class='top-3-states'>
    <h5>Top 3 States </h5>
    <ol>
      <% @merchant.top_three_states.each do |item| %>
        <li><%= item.state %>, Quantity: <%= item.total_quantity %>
      <% end %>
    </ol>
  </div>

  <div class='top-3-cities'>
    <h5>Top 3 Cities </h5>
    <ol>
      <% @merchant.top_three_cities.each do |item| %>
        <li><%= item.city %>, <%= item.state %>, Quantity: <%= item.total_quantity %>
      <% end %>
    </ol>
  </div>

  <div class='top-user-with-most-orders'>
    <h5>Top User with Most Orders</h5>
        <p><%= @merchant.top_user_orders.name %>, Order Count: <%= @merchant.top_user_orders.total_orders %> </p>
  </div>

  <div class='top-user-with-most-items'>
    <h5>Top User with Most Items</h5>
        <p><%= @merchant.top_user_items.name %>, Item Count: <%= @merchant.top_user_items.total_items %> </p>
  </div>

  <div class='top-user-with-most-money'>
    <h5>Top Users with Most Spent</h5>
      <ol>
      <% @merchant.top_3_spenders.each do |user| %>
        <li><%= user.name %>, Total Money Spent: <%= number_to_currency(user.total_spent) %> </li>
      <% end %>
  </div>

  <% else %>
    <h5>No Statistics</h5>
  <% end %>
</div>

<h4>Orders</h4>

<% @merchant_orders.each do |order| %>
  <div id="merchant-orders-<%= order.id %>" class="card mb-3">
    <div class="row no-gutters col-md-9 card-body">
      <h5 class="card-title"><%= link_to "Order #{order.id}", merchant_order_path(order) %></h5>
      <ul>
        <li>Date Ordered: <%= Date.strptime(order.created_at.to_s) %></li>
        <li>Total Quantity Ordered: <%= order.total_quantity_for_merchant(@merchant) %></li>
        <li>Total Amount Owed: <%= number_to_currency(order.total_value_for_merchant(@merchant)) %></li>
      </ul>
    </div>
  </div>
<% end %>
